
<div class="container">
  <h1>Welcome to the user matching app</h1>
  <p>Sign up, tell us your interests and when you are available, and meet similar people!</p>
  <h3><%= link_to "Explore potential friends", users_path %> </h3>
</div>

